.calendar-wrapper {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}


.ContributionCalendar-day {
  border-radius: 2px !important;
  transition: transform 0.2s;
  pointer-events: auto !important;
}

.ContributionCalendar-day:hover {
  transform: scale(1.4);
}

table {
  border-collapse: separate !important;
  border-spacing: 1.5px 1.5px !important;
}

.ContributionCalendar-day[data-level='0'] {
  background-color: #161b2246 !important;
}

.ContributionCalendar-day[data-level='1'] {
  background-color: #0968DA !important;
}

.ContributionCalendar-day[data-level='2'] {
  background-color: #0968DA !important;
}

.ContributionCalendar-day[data-level='3'] {
  background-color: #53AEFE !important;
}

.ContributionCalendar-day[data-level='4'] {
  background-color: #B6E3FF !important;
}


.graph-before-activity-overview {
  border: none !important;
}

.width-full {
  display: none !important;
}

.table-column {
  display: none !important;
}

caption {
  display: none !important;
}