.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.5;
  pointer-events: auto !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
  pointer-events: auto !important;
}

/* Ajoute dans ton fichier CSS global ou module */
.scrollable-slide {
  max-height: 200px;
  overflow-y: auto;
}
